*.user
*.suo
BuildVS/*.log
BuildVS/.vs
BuildVS/x86
BuildVS/x64
BuildVS/a32
BuildVS/a64
BuildVS/ia64
BuildVS/Itanium
BuildVS/obj
BuildVS/Release
BuildVS/Release_*
BuildVS/Debug
BuildVS/Debug_*
BuildVS/ARM
BuildVS/ARM64

